body{
    background-color: antiquewhite;
    color: black;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin: 10%;
}
.container1{
    display: flex;
    margin: 10%, 20%;
}

.img{
    border-radius: 50%;
    width: 100px;
}